.social {
  position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla */
  left: 0; /* Ajustamos la barra a la izquierda del área visible */
  top: 200px; /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social ul li {
  margin-bottom: 0; /* Eliminamos el margen inferior */
}

.social ul li a {
  display: block; /* Usamos display block para que el elemento ocupe todo el espacio */
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
  background: #3b5998;
} /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.social ul li .icon-whatsapp {
  background: #26c541;
}
.social ul li .icon-pinterest {
  background: #ae181f;
}
.social ul li .icon-mail {
  background: #666666;
}

.social ul li a:hover {
  background: #fff; /* Cambiamos el fondo cuando el usuario pase el mouse */
  padding-left: 20px; /* Hacemos más grande el espacio solo en el lado izquierdo cuando el usuario pase el mouse */
  color: #000; /* Cambiamos el color del texto para mayor visibilidad */
}

.social ul li a:hover .icon-facebook {
  background: #3b5998;
}
.social ul li a:hover .icon-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.social ul li a:hover .icon-whatsapp {
  background: #26c541;
}
.social ul li a:hover .icon-pinterest {
  background: #ae181f;
}
.social ul li a:hover .icon-mail {
  background: #666666;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .social {
    left: 0; /* Ajustamos la barra a la izquierda dentro del área visible */
    top: 100px; /* Bajamos la barra 100px de arriba a abajo */
  }

  .social ul li a {
    padding: 10px 15px; /* Mantener el padding igual para la apariencia consistente */
  }
}
